<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>프로젝트 상세</title>
</head>
<body>
<h2 th:text="${project.name}">프로젝트 이름</h2>
<p th:text="${project.description}">프로젝트 설명</p>

<h3>업무 목록</h3>
<ul>
    <li th:each="task : ${tasks}">
        <span th:text="${task.title}">업무 제목</span> -
        <span th:text="${task.description}">업무 설명</span>
        <span>시작일: <span th:text="${#temporals.format(task.startDate, 'yyyy-MM-dd')}"></span></span>
        <span>종료일: <span th:text="${#temporals.format(task.endDate, 'yyyy-MM-dd')}"></span></span>
        <span th:if="${task.assignedMember != null}">(담당자: <span th:text="${task.assignedMember.username}">담당자 이름</span>)</span>
    </li>
</ul>

<h3>업무 추가</h3>
<form th:action="@{|/project/${project.id}/task/create|}" method="post">
    <input type="text" name="title" placeholder="업무 제목" required>
    <input type="text" name="description" placeholder="업무 설명" required>

    <label for="startDate">시작일:</label>
    <input id="startDate" type="date" name="startDate" required>

    <label for="endDate">종료일:</label>
    <input id="endDate" type="date" name="endDate" required>

    <label for="assignedUserId">담당자 선택:</label>
    <select id="assignedUserId" name="assignedUserId">
        <option value="" selected>선택 안함</option>
        <option th:each="member : ${participants}"
                th:value="${member.id}"
                th:text="${member.username}">담당자 선택</option>
    </select>

    <button type="submit">업무 추가</button>
</form>

<h3>채팅방 목록</h3>
<ul>
    <li th:each="chatRoom : ${project.chatRooms}">
        <a th:href="@{|/chatroom/chat/${chatRoom.id}|}" th:text="${chatRoom.name}">채팅방 이름</a>
    </li>
</ul>
<a th:href="@{|/chatroom/create/${project.id}|}">단체 채팅방 생성</a>
<a th:href="@{|/chatroom/create/private/${project.id}|}">1:1 채팅방 생성</a>
</body>
</html>