<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>채팅방 목록</title>
</head>
<body>
<h1 th:text="${project.name}">프로젝트 이름</h1>
<h2>채팅방 목록</h2>

<ul>
    <li th:each="chatRoom : ${chatRooms}">
        <a th:href="@{'/chatroom/enter/' + ${chatRoom.id}}"
           th:text="${chatRoom.name}">채팅방 이름</a>
    </li>
</ul>

<a th:href="@{'/chatroom/create/' + ${project.id}}">단체 채팅방 생성</a>
<a th:href="@{'/chatroom/create/private/' + ${project.id}}">1:1 채팅방 생성</a>
<a th:href="@{'/project/list'}">프로젝트 목록으로 돌아가기</a>
</body>
</html>